<header class="hero" [ngSwitch]="returnViewPort()">
  <div *ngSwitchDefault class="mobile-carousel">
    <div class="mobile-carousel-one" *ngIf="showCarouselOne">
      <div class="mobile-carousel-one-image-bg">
        <img
          class="mobile-carousel-one-image"
          src="../../../assets/img/ThreeLaptopsSinglePic.png"
          alt="Three laptops"
        />
      </div>
      <div class="mobile-carousel-one-text-content">
        <div class="mobile-carousel-one-sliders">
          <div (click)="slide()" class="slider-left">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="chevron-left"
              class="chevron-left-icon-slider"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                fill="currentColor"
                d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"
              ></path>
            </svg>
          </div>
          <div (click)="slide()" class="slider-right">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="chevron-right-slider"
              class="chevron-right-icon-slider"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                fill="currentColor"
                d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="mobile-carousel-one-text-content-wrapper">
          <h2 class="mobile-carousel-one-header">Skolstartserbjudanden</h2>
          <p class="mobile-carousel-one-paragraph">
            Spara på utvalda Surface enheter, tillbehör, Microsoft 365 och
            mycket mer.
          </p>
          <button class="mobile-carousel-one-button">
            <a href="#" class="mobile-carousel-one-button-link">Köp nu</a
            ><svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="chevron-right"
              class="chevron-right-icon"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                fill="currentColor"
                d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="mobile-carousel-one-navigation">
          <div class="mobile-carousel-one-dot-one"></div>
          <div (click)="slide()" class="mobile-carousel-one-dot-two"></div>
        </div>
      </div>
    </div>

    <div class="mobile-carousel-two" *ngIf="!showCarouselOne">
      <div class="mobile-carousel-two-image-bg">
        <img
          class="mobile-carousel-two-image"
          src="../../../assets/img/SurfaceKeyBoardRemoved.png"
          alt="Three laptops"
        />
      </div>
      <div class="mobile-carousel-two-text-content">
        <div class="mobile-carousel-two-sliders">
          <div (click)="slide()" class="mobile-carousel-two-slider-left">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="chevron-left"
              class="chevron-left-icon-slider"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                fill="currentColor"
                d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"
              ></path>
            </svg>
          </div>
          <div (click)="slide()" class="mobile-carousel-two-slider-right">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="chevron-right-slider"
              class="chevron-right-icon-slider"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                fill="currentColor"
                d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="mobile-carousel-two-text-content-wrapper">
          <h2 class="mobile-carousel-two-header">Kraftfull prestanda</h2>
          <p class="mobile-carousel-two-paragraph">
            Nya Surface Book 3 är den kraftfullaste Surface-datorn hittills med
            mångsidigheten hos en bärbar dator, surfplatta och bärbar studio.
          </p>
          <button class="mobile-carousel-two-button">
            <a href="#" class="mobile-carousel-two-button-link">Köp nu</a
            ><svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="chevron-right"
              class="chevron-right-icon"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                fill="currentColor"
                d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="mobile-carousel-two-navigation">
          <div (click)="slide()" class="mobile-carousel-two-dot-one"></div>
          <div class="mobile-carousel-two-dot-two"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'large'" class="fullsize-carousel">
    <div class="fullsize-carousel-one" *ngIf="showCarouselOne">
      <div class="fullsize-carousel-one-text-content">
        <div class="fullsize-carousel-one-text-content-wrapper">
          <h2 class="fullsize-carousel-one-header">Skolstartserbjudanden</h2>
          <p class="fullsize-carousel-one-paragraph">
            Spara på utvalda Surface enheter, tillbehör, Microsoft 365 och
            mycket mer.
          </p>
          <button class="fullsize-carousel-one-button">
            <a class="fullsize-carousel-one-button-link" href="#">Köp nu</a
            ><svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="chevron-right"
              class="chevron-right-icon"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                fill="currentColor"
                d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="fullsize-carousel-one-sliders">
        <div (click)="slide()" class="fullsize-carousel-one-slider-left">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="chevron-left"
            class="chevron-left-icon-slider"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"
            ></path>
          </svg>
        </div>
        <div (click)="slide()" class="fullsize-carousel-one-slider-right">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="chevron-right-slider"
            class="chevron-right-icon-slider"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="fullsize-carousel-one-navigation">
        <div (click)="slide()" class="fullsize-carousel-one-dot-one"></div>
        <div class="fullsize-carousel-one-dot-two"></div>
      </div>
    </div>

    <div class="fullsize-carousel-two" *ngIf="!showCarouselOne">
      <div class="fullsize-carousel-two-text-content">
        <div class="fullsize-carousel-two-text-content-wrapper">
          <h2 class="fullsize-carousel-two-header">Kraftfull prestanda</h2>
          <p class="fullsize-carousel-two-paragraph">
            Nya Surface Book 3 är den kraftfullaste Surface-datorn hittills med
            mångsidigheten hos en bärbar dator, surfplatta och bärbar studio.
          </p>
          <button class="fullsize-carousel-two-button">
            <a class="fullsize-carousel-two-button-link" href="#">Köp nu</a
            ><svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="chevron-right"
              class="chevron-right-icon"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                fill="currentColor"
                d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="fullsize-carousel-two-sliders">
        <div (click)="slide()" class="fullsize-carousel-two-slider-left">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="chevron-left"
            class="chevron-left-icon-slider"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"
            ></path>
          </svg>
        </div>
        <div (click)="slide()" class="fullsize-carousel-two-slider-right">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="chevron-right-slider"
            class="chevron-right-icon-slider"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="fullsize-carousel-two-navigation">
        <div (click)="slide()" class="fullsize-carousel-two-dot-one"></div>
        <div class="fullsize-carousel-two-dot-two"></div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'xl'">
    <p>XL carousel</p>
  </div>
</header>
