<section *ngIf="returnViewPort() === 'xs'" class="call-to-action">
  <div class="mobile-cta">
    <ul class="mobile-cta-list">
      <li class="mobile-cta-list-item">
        <img
          class="mobile-cta-list-item-image"
          src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4sQDc?ver=30c2&amp;q=90&amp;m=6&amp;h=40&amp;w=40&amp;b=%23FFFFFFFF&amp;l=f&amp;o=t&amp;aim=true"
          alt="Windows logo"
        />
        <a class="mobile-cta-list-item-link" href="#"
          >Välj ditt Microsoft 365</a
        >
      </li>
      <li class="mobile-cta-list-item">
        <img
          class="mobile-cta-list-item-image"
          src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4pndL?ver=5217&amp;q=90&amp;m=6&amp;h=40&amp;w=40&amp;b=%23FFFFFFFF&amp;l=f&amp;o=t&amp;aim=true"
          alt="Surface logo"
        />
        <a class="mobile-cta-list-item-link" href="#">Köp Surface enheter</a>
      </li>
      <li class="mobile-cta-list-item">
        <img
          class="mobile-cta-list-item-image"
          src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4pxBu?ver=eae5&amp;q=90&amp;m=6&amp;h=40&amp;w=40&amp;b=%23FFFFFFFF&amp;l=f&amp;o=t&amp;aim=true"
          alt="Xbox logo"
        />
        <a class="mobile-cta-list-item-link" href="#"
          >Köp Xbox-spel och konsoler</a
        >
      </li>
      <li class="mobile-cta-list-item">
        <img
          class="mobile-cta-list-item-image"
          src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4pkvE?ver=d8fc&amp;q=90&amp;m=6&amp;h=40&amp;w=40&amp;b=%23FFFFFFFF&amp;l=f&amp;o=t&amp;aim=true"
          alt="Windows logo"
        />
        <a class="mobile-cta-list-item-link" href="#">Köp Windows 10</a>
      </li>
      <li class="mobile-cta-list-item">
        <img
          class="mobile-cta-list-item-image"
          src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4rriw?ver=b2d5&amp;q=90&amp;m=6&amp;h=40&amp;w=40&amp;b=%23FFFFFFFF&amp;l=f&amp;o=t&amp;aim=true"
          alt="Briefcase logo"
        />
        <a class="mobile-cta-list-item-link" href="#">Köp för företag</a>
      </li>
    </ul>
  </div>
</section>

<section *ngIf="returnViewPort() !== 'xs'" class="call-to-action">
  <div class="fullsize-cta">
    <ul class="fullsize-cta-list">
      <li class="fullsize-cta-list-item">
        <img
          class="fullsize-cta-list-item-image"
          src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4sQDc?ver=30c2&amp;q=90&amp;m=6&amp;h=40&amp;w=40&amp;b=%23FFFFFFFF&amp;l=f&amp;o=t&amp;aim=true"
          alt="Windows logo"
        />
        <a class="fullsize-cta-list-item-link" href="#"
          >Välj ditt Microsoft 365</a
        >
      </li>
      <li class="fullsize-cta-list-item">
        <img
          class="fullsize-cta-list-item-image"
          src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4pndL?ver=5217&amp;q=90&amp;m=6&amp;h=40&amp;w=40&amp;b=%23FFFFFFFF&amp;l=f&amp;o=t&amp;aim=true"
          alt="Surface logo"
        />
        <a class="fullsize-cta-list-item-link" href="#">Köp Surface enheter</a>
      </li>
      <li class="fullsize-cta-list-item">
        <img
          class="fullsize-cta-list-item-image"
          src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4pxBu?ver=eae5&amp;q=90&amp;m=6&amp;h=40&amp;w=40&amp;b=%23FFFFFFFF&amp;l=f&amp;o=t&amp;aim=true"
          alt="Xbox logo"
        />
        <a class="fullsize-cta-list-item-link" href="#"
          >Köp Xbox-spel och konsoler</a
        >
      </li>
      <li class="fullsize-cta-list-item">
        <img
          class="fullsize-cta-list-item-image"
          src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4pkvE?ver=d8fc&amp;q=90&amp;m=6&amp;h=40&amp;w=40&amp;b=%23FFFFFFFF&amp;l=f&amp;o=t&amp;aim=true"
          alt="Windows logo"
        />
        <a class="fullsize-cta-list-item-link" href="#">Köp Windows 10</a>
      </li>
      <li class="fullsize-cta-list-item">
        <img
          class="fullsize-cta-list-item-image"
          src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4rriw?ver=b2d5&amp;q=90&amp;m=6&amp;h=40&amp;w=40&amp;b=%23FFFFFFFF&amp;l=f&amp;o=t&amp;aim=true"
          alt="Briefcase logo"
        />
        <a class="fullsize-cta-list-item-link" href="#">Köp för företag</a>
      </li>
    </ul>
  </div>
</section>

<!-- <div class="fullsize-carousel-two-slider-left">
  <svg
    aria-hidden="true"
    focusable="false"
    data-prefix="fas"
    data-icon="chevron-left"
    class="chevron-left-icon-slider"
    role="img"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 320 512"
  >
    <path
      fill="currentColor"
      d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"
    ></path>
  </svg>
</div> -->
